<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/student/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/student/css/fontawesome.min.css">
    <link rel="stylesheet" type="text/css"  href="/static/student/css/style.css">
</head>
<body>
    
</body>
<script src="/static/student/js/jquery-3.7.1.min.js"></script>
<script src="/static/student/js/bootstrap.bundle.js"></script>
<script src="/static/student/js/fontawesome.js"></script>
</html>